bin
certifi
certifi-2020.12.5.dist-info
chardet
chardet-4.0.0.dist-info
idna
idna-2.10.dist-info
MLB_StatsAPI-1.0.1.dist-info
package
requests
requests-2.25.1.dist-info
statsapi
tests
urllib3
urllib3-1.26.2.dist-info
getfantasystandings.zip